@font-face {
  font-family: "Fantasy"; /*Can be any text*/
  src: local("Radikal-Bold"),
    url("./assets/Radikal-Bold.ttf") format("truetype");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Fantasy";
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (min-aspect-ratio: 5/2) {
  .stadium-container .stadium {
    flex-direction: row;
  }

  body .stadium-container {
    /* background-color: red; */
  }

  .stadium .field {
    max-height: 100vh;
    width: 75%;
    /* background-color: aqua; */
  }

  .stadium .bench {
    overflow: hidden;
    max-width: 20vw;
  }
}

.stadium-container {
  display: flex;

  height: calc(100vh);
  width: calc(100vw);
  margin: 0px;

  /* show it in grey for testing */
  /* background-color: grey; */

  max-width: 1200px;
  margin: auto;
}

.stadium {
  /* deduct the double of the margin from the 100% */
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px;

  /* show it in white for testing */
  /* background-color: white; */
}

.field {
  flex-grow: 1;
  background-color: #2f935e;
  /* aspect-ratio: 4 / 3; */
  max-height: 75vh;

  position: relative;
}

.field-background {
  position: absolute;

  top: 0px;
  width: 100%;
  height: 100%;
}

.bench {
  background-color: #347a55;
  /* aspect-ratio: 4 / 1; */

  overflow: overlay;
}

.players {
  list-style: none;
}

.field-players {
  padding: 50px;
  /* width & height: 100% - (padding*2) */
  width: calc(100% - 100px);
  height: calc(100% - 100px);
}

.bench-players {
  padding: 20px;
  /* width & height: 100% - (padding*2) */
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.player {
  position: relative;
  color: black;
  text-align: center;

  z-index: 111;

  /* filter for making it red: /*
  /* filter: invert(13%) sepia(61%) saturate(7121%) hue-rotate(358deg)
    brightness(72%) contrast(96%); */

  /* font-size: 1.5rem; */
}

.player-name {
}

.player-shirt {
  max-width: 80px;
}

.error-container {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  width: calc(100%-20px);
  height: calc(100%-20px);
  position: absolute;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(224, 224, 224, 0.85);
  color: #8b0000;
  z-index: 1111;
}

.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* filter: invert(8%) sepia(81%) saturate(5291%) hue-rotate(357deg)
    brightness(95%) contrast(111%); */
}

.back-button-image {
  max-width: 50px;
  max-height: 50px;
  background-color: transparent;
}
